<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
  <body>
    <h1>About</h1>
    <p>
  For any questions, tips and tricks, get in touch with me
  <a href="https://github.com/rawdan/">On GitHub</a>
    </p>
</body>
</html>