<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get more info on the power of Ruby on Rails from
      <a href="http://rubyonrails.org/">The official webpage</a>
      To better understand this sample app check out my repository
      <a href="https://github.com/rawdan/sample_app/"><em>Ruby on Rails Sample App</em><b> Repositor</b></a>
    </p>
  </body>
</html>