
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %>  | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
<div class="jumbotron">
<h1>Welcome to the Sample App</h1>
<h2>
  This is the home page for a very simple yet very powerful Ruby on Rails App.
  <a href="http://rubyonrails.org/">Rails official webpage</a>
</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
</body>
</html>



