<footer class="footer">
  <small>
    The <a href="https://github.com/rawdan/sample_app/">Sample App Repository</a>
    By <a href="https://github.com/rawdan/">Rawdan</a>
  </small>
  <nav>
    <ul>
      <li> <%= link_to "About", about_path %> </li>
      <li> <%= link_to "Contact", contact_path %> </li>
      <li><a href="https://github.com/rawdan?tab=activity/">Activity</a></li>
    </ul>
  </nav>
</footer>